BasedOnStyle: Mozilla
ColumnLimit: 180
IndentWidth: 2
UseTab: Never
MaxEmptyLinesToKeep: 1
BreakBeforeBinaryOperators: None
AllowShortBlocksOnASingleLine: Always
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: true
Standard: Latest
AlignConsecutiveAssignments:
  Enabled: true
AlignConsecutiveDeclarations:
  Enabled: true
QualifierAlignment: Right
